 /* Import Google Font - Poppins */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
 }


 /* .container {
     min-width: 250px;
     align-content: center;
 } */

 .box {
     width: 450px;
     background: #fafafa;
     border-radius: 12px;
     text-align: center;
     box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.5);
     display: flex;
     flex-direction: column;
     align-self: center;

 }


 h1 {
     color: rgb(0, 0, 0, 0.7);
     font-weight: bold;
     font-size: 28px;
     padding: 10px 0;
 }



 .content {
     padding: 0 30px;

 }

 .input {
     background: #fff;
     box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
     border-radius: 12px;
     padding: 10px 0;
     margin-bottom: 15px;
 }


 .input label {
     display: block;
     font-size: 18px;
     font-weight: 600;
     color: #000;
     /* margin-bottom: 20px; */
 }

 .input input {
     outline: none;
     border: none;
     border-bottom: 1px solid #4f7df9;
     width: 50%;
     text-align: center;
     font-size: 16px;
     font-family: "Nunito", sans-serif;
 }



 .inputW {
     background: #fff;
     box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
     border-radius: 12px;
     padding:20px 0;
     margin-bottom: 10px;
 }


 .inputW label {
     display: block;
     font-size: 18px;
     font-weight: 600;
     color: #000;
     margin-bottom: 20px;
 }

 .inputW input {
     outline: none;
     border: none;
     border-bottom: 1px solid #4f7df9;
     width: 50%;
     text-align: center;
     font-size: 16px;
     font-family: "Nunito", sans-serif;
 }

 .inputH {
     background: #fff;
     box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
     border-radius: 12px;
     padding: 10px 0;
     margin-bottom: 20px;
     margin-right: 20px;
 }


 .inputH label {
     display: block;
     font-size: 18px;
     font-weight: 600;
     color: #000;
     margin-bottom: 20px;
 }

 .inputH input {
     outline: none;
     border: none;
     border-bottom: 1px solid #4f7df9;
     width: 50%;
     text-align: center;
     font-size: 16px;
     font-family: "Nunito", sans-serif;
 }


 button.calculate {
     cursor: pointer;
     font-family: "Nunito", sans-serif;
     color: #fff;
     background: rgb(97, 138, 254, 1);
     font-size: 16px;
     border-radius: 7px;
     padding: 12px 0;
     width: 100%;
     outline: none;
     border: none;
     transition: all 0.5s;
 }

 button.calculate:hover {
     background: #0044ff;
 }



 .result {
     padding: 10px 20px;
 }

 .result p {
     font-weight: 600;
     font-size: 22px;
     color: #000;
     margin-bottom: 15px;
 }

 .result #result {
     font-size: 36px;
     font-weight: 900;
     color: #4f7df9;
     background-color: #eaeaea;
     display: inline-block;
     padding: 7px 20px;
     border-radius: 55px;
     margin-bottom: 25px;
 }


 .comment {
     /* display: none; */
     border: dashed 1px;
     border-radius: 7px;
     padding: 5px;
 }

 .footer {
     display: flex;
     justify-content: start;
     align-items: center;
     padding: 10px 15px
 }

 .footer-text {
     text-decoration: none;
     color: rgba(40, 40, 40, 0.8);
     font-family: 'Poppins', sans-serif;
     font-weight: 200;
     font-size: 14px;
     transition: all 0.5;
 }

 .footer-text:hover {
     color: rgba(40, 40, 40, 1);
 }

 .gender {
     display: flex;
     justify-content: space-around;
     background: #fff;
     box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
     border-radius: 12px;
     padding: 6px 0;
     margin-bottom: 15px;
 }

 /* Style for Radio */
 .gender .container {
     display: block;
     position: relative;
    
     cursor: pointer;
     font-size: 20px;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
 }

 /* Hide the browser's default radio button */
 .gender .container input {
     position: absolute;
     opacity: 0;
     cursor: pointer;
 }

 /* Create a custom radio button */
 .checkmark {
     position: absolute;
     top: .5rem;
     left: 0;
     height: 2.2rem;
     width: 2.2rem;
     margin-right: 1rem;
     background-color: #eee;
     border-radius: 50%;
 }

 /* On mouse-over, add a grey background color */
 .gender .container:hover input~.checkmark {
     background-color: #ccc;
 }

 /* When the radio button is checked, add a blue background */
 .gender .container input:checked~.checkmark {
     background-color: #2196F3;
 }

 /* Create the indicator (the dot/circle - hidden when not checked) */
 .checkmark:after {
     content: "";
     position: absolute;
     display: none;
 }

 /* Show the indicator (dot/circle) when checked */
 .gender .container input:checked~.checkmark:after {
     display: block;
 }

 /* Style the indicator (dot/circle) */
 .gender .container .checkmark:after {
     top: 7px;
     left: 7px;
     width: 8px;
     height: 8px;
     border-radius: 50%;
     background: white;
 }

 /* END Style for Radio */

 .containerHW {
     display: flex;
     justify-content: space-around;
     align-items: center;
 }




 @media (max-width: 700px) {


     .box {
         width: 380px;
     }

     .input label {

         font-size: 18px;
     }

     .inputH label,
     .inputW label {
         font-size: 14px;
     }


     .input input,
     .inputH input,
     .inputW input {
         font-size: 22px;
     }

 }
 /* @media (max-width:770px){
    .checkmark {
        top: 5px;
        right: 10px;
        margin-left: 20px;
    }
 } */