/* 1rem= 16px */
/* 1px=6.25% */
/* font-size=62.5%;
font-size=10px
font-size=1rem */
/* *{
    overflow-x: hidden;
} */
html {
    font-size: 62.5%;
}

.navbar {
    background-color: rgb(254, 254, 251);
    display: flex;
    /* justify-content: center; */

}
.navbar-heading{
    /* font-size: 3rem; */
    width: 270px;
    /* margin-top:10px; */

}
.nav-items {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 2rem;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;

}

nav ul li a {
    display: block;
    padding: 1.2rem 2.5rem;
    /* margin: .1rem 6rem; */
    color: #9a9797;
    font-size: 1.8rem;
    font-weight: 800;
    text-transform: uppercase;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}

nav ul li a:hover {
    color: #858484;
}

nav ul li a {
    position: relative;
    z-index: 1;
}

nav ul li a:hover {
    color: #7f7e7d;
    text-decoration: none;
}

nav ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: .1rem;
    content: '.';
    color: transparent;
    /* background: #F1C40F; */
    background: #4ad9ae;
    visibility: none;
    opacity: 0;
    z-index: -1;
}

nav ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

.flex-align-right {
    margin-left: auto;
}

.mobile-navbar{
    display: none;
}
.close-outline{
    display: none;
}
.mobile-navbar[name="close-outline"]{
    display: none;
}

.active .mobile-nav-icon {
    display: none;
    font-size: 4rem;
    position: absolute;
    top: 30%;
    right: 10%;
    z-index: 9999;
}
.active .menu-outline {
    left: 100%;
}
.active .close-outline{
    display: inline-block;
}
.active .nav-items {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    z-index: 999;
}


@media (max-width : 650px){
    .mobile-navbar{
        display: flex;
        z-index: 999;
        align-items: center;
       
        /* border: 2px solid black; */
        font-size: 4.2rem;
    }
    
    /* hide the original nav menu */
    .nav-items{
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        transform:translateX(100%);
    }
    nav ul li a{
        font-size: 4rem;
    }
}



@media (max-width :60rem) {
    html {
        font-size: 55%;
    }
}

@media (max-width :50rem) {
    html {
        font-size: 45%;
    }
}